.about-us {
    padding-top: 120px;
    @media (max-width: 768px) {
        padding-top: 0;
    }
    p {
        font-size: 20px;
        line-height: 1.5;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }

    &__title {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/about-us.jpg");

        .title-1 {
            background-color: rgba(255, 255, 255, 0.73);
            backdrop-filter: blur(5px);

            padding: 60px 0;
        }
    }
}
