.ancet-form {
    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 30px;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }

    &__title {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/ancet.jpg");
        
        .title-1 {
            background-color: rgba(255,255,255, 0.73);
            backdrop-filter: blur(5px);
            padding: 60px 0;
        }
    }

    .ancet__form {
        display: flex;
        justify-content: center;
    }
}

.career__title{
    background-image: url("../assets/career.jpg");

}