.products {
    padding-top: 120px;

    @media (max-width: 768px) {
        padding-top: 60px;
    }
}

.products__wrapper {
    position: relative;
    display: grid;
    justify-content: center;

    .title-1 {
        padding-top: 60px;
        @media (max-width: 768px) {
            padding-top: 0;
        }
        font-size: 32px;
        margin-bottom: 30px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: rgba(0, 0, 0, 0.2901960784);
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2901960784);
        transition: all 0.3s ease;

        &:hover {
            color: #000000;
            border: 1px solid #000000;
        }
    }

    .swiper-button-prev {
    }

    .swiper-button-next {
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 24px;
    }

    .products-swiper {
        display: block;
        width: 100% !important;
        margin-bottom: 30px;
        z-index: 1;

        @media (max-width: 768px) {
            max-width: 340px !important;
            width: 100% !important;
        }

        .swiper-slide {
            // max-width: 340px !important;
            // display: flex;
            // justify-content: center;
            height: auto;
        }

       
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.product-block {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    height: 100%;
    gap: 15px;
    border: 1px solid #0000004a;
    padding: 15px;
    padding-bottom: 30px;
    background-color: #fff;
    transition: all 0.3s ease;


    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        position: relative;

        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain !important;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #000000 !important;
    }
}

.product {
    padding-top: 180px;

    @media (max-width: 768px) {
        padding-top: 60px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        color: #287bdd;
        text-align: center;

        @media (max-width: 576px) {
            text-align: center;
            font-size: 28px;
        }
    }

    &__description {
        line-height: 1.8;
        font-size: 18px;
    }

    &__image {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            max-width: 350px;
            max-height: 280px;
        }
    }
}

.product__chars {
    margin-top: 60px;
    max-width: 100%;
    overflow-x: auto;
    .product__table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        @media (max-width: 576px) {
            font-size: 14px;
        }

        thead {
            background-color: #d9edf7;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        tbody {
            tr {
                border-top: 1px solid #ddd;
            }

            tr:nth-child(2n) {
                background-color: #f9f9f9;
            }
        }
    }
}
